form {
    width: 100%;
    max-width: 600px;
}

.tabela {
    padding: 1rem;
}

.btn {
    width: 100%;
    margin: 0 0.5%;
    box-shadow: none;
}

.btn:hover {
    box-shadow: none;
}

.botoes {
    display: flex;
    flex-direction: row;
}
